<h2>This is the secrets page</h2>
<h3>Shhhh</h3>

<%= link_to("Random Kitten?", "#{kitty_url(100)}") %> | <%= link_to("Random Kittens?", "#{kitties_url(100)}") %>

| <%= link_to("Welcome Page", "#{welcome_url}") %>

| <%= link_to("About Us", "#{about_url}") %>
